.item td {
  padding: 0.5rem;
}

.item:hover {
  background-color: #f5f5f5;
}

.namebox {
  max-width: 40vw;
}

.namebox a {
  width: 100%;
  display: flex;
}

.image {
  width: 15%;
  height: 100%;
  margin-right: 1rem;
}

.image img {
  width: 100%;
  height: 100%;
}

.name {
  width: calc(85% - 1rem);
  color: #1c1d1f;
  text-align: left;
}

.delete {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  font-size: 1.5rem;
  color: #d14031;
}

.quantity {
  width: 3rem;
  text-align: center;
  padding: 0.5rem 0;
  border: none;
  border-radius: 0;
}

.quantity:focus {
  outline: none;
}

.decrease,
.increase {
  width: 3rem;
  height: 2.9rem;
  line-height: 2.9rem;
  text-align: center;
  background-color: #fff;
  color: #000;
  display: inline-block;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
