.cart {
  width: auto;
  padding: 5px;
  display: block;
  height: 8rem;
  line-height: 8rem;
  float: right;
  margin-right: 1rem;
  position: relative;
  transition: all linear 0.1s;
  color: #840000;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.cart:hover i {
  color: #d14031;
  transition: all linear 0.1s;
  cursor: pointer;
}
.cart i {
  font-size: 2.5rem;
  color: #1c1d1f;
}

.quantity {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: red;
  color: white;
  top: 2rem;
  left: 0;
  position: absolute;
  text-align: center;
  line-height: 2rem;
  font-size: 1.3rem;
}

.total {
  margin-left: 3px;
  font-size: 2rem;
  color: #1c1d1f;
}
