.container {
  width: 80%;
  padding: 1rem;
  margin: 15rem auto 0;
  display: flex;
  position: relative;
}

.image {
  width: 30rem;
}

.image img {
  width: 100%;
  position: sticky;
  top: 8rem;
}

.content {
  margin-left: 5rem;
  max-width: 60%;
}

.author {
  margin-bottom: 1rem;
}

.author a {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  color: #999;
  transition: all 0.2s ease-out;
}

.author a:hover {
  color: #d14031;
}

.title {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.9rem;
  max-height: 60rem;
  overflow: hidden;
  font-weight: 500;
  margin-bottom: 5rem;
  line-height: 1.5;
  color: #555;
}

.price {
  color: #000;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.add-to-cart input {
  height: 100%;
  font-size: 1.7rem;
  width: 5rem;
  text-align: center;
  border: none;
  color: #555;
  font-weight: 300;
  font-family: 'Cormorant Garamond', sans-serif;
  outline: none;
  z-index: 3;
}

.control {
  height: 3rem;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #fff;
  font-size: 1.7rem;
  font-weight: 400;
  transition: color 0.2s ease-out;
}

.btn:hover {
  color: #d14031;
}

.btn-quantity-left::before {
  content: '<';
}

.btn-quantity-right::before {
  content: '>';
}

.actions {
  margin-top: 3rem;
}

.btn-submit {
  color: white;
  width: 20rem;
  height: 5rem;
  padding: 1rem 2rem;
  background-color: #d14031;
  transition: all 0.2s ease-out;
  font-weight: 400;
}

.btn-submit:hover {
  background-color: #ad362a;
  color: #fff;
}

.quantity {
  border: 1px solid #e1e1e1;
  display: inline-block;
  height: 5rem;
  color: #999;
  padding: 0 2rem 0 0;
  margin-right: 2rem;
  user-select: none;
}

.quantity::before {
  content: 'Số lượng';
  font-size: 1.7rem;
  font-weight: 300;
  display: inline-block;
  width: 11rem;
  padding: 0 2rem;
  height: 100%;
}
