.container {
  width: 100%;
  margin: 0 auto 15rem;
  display: flex;
  flex-wrap: wrap;
  padding: 0 15rem;
}

@media screen and (max-width: 1023.98px) {
  .container {
    padding: 0 5rem;
  }
}

.section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.load {
  margin: auto;
  padding: 1.5rem 3rem;
  background-color: #fff;
  border-radius: 50rem;
  outline: none;
  color: #222831;
  border: 1px solid #222831;
  box-shadow: rgba(149, 157, 165, 0.2) 3px 10px 5px;
  transition: 0.25s ease;
  cursor: pointer;
}

.load:hover {
  transform: translateY(-3px);
  box-shadow: rgba(149, 157, 165, 0.2) 3px 15px 10px;
}

.load:active {
  transform: translateY(-1px);
}

.load svg {
  margin-left: 0.5rem;
}
