.item {
  width: calc(25% - 2rem);
  margin: 3rem 1rem;
  position: relative;
}

.image {
  width: 100%;
  height: 30rem;
  position: relative;
  transition: all 0.2s ease-out;
  border-radius: 1rem;
}

.image img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.add-to-wishlist {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  background-color: #fff;
  border-radius: 100rem;
  text-align: center;
  cursor: pointer;
  transition: 0.25s ease;
}

.add-to-wishlist i {
  color: #222831;
  line-height: 2.5rem;
  transition: 0.25s ease;
}

.add-to-wishlist:hover {
  background-color: #222831;
}
.add-to-wishlist:hover i {
  color: #fff;
}

.content {
  padding: 1rem 0;
}

.author {
  margin-bottom: 1rem;
}

.author a {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  color: #999;
  transition: all 0.2s ease-out;
}

.author a:hover {
  color: #d14031;
}

.title a {
  color: #222831;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical; /*hướng của dòng chữ theo chiều: dọc*/
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.title a:hover {
  color: #393e46;
}

.price {
  color: #222831;
  font-size: 1.3rem;
  font-weight: 500;
}

.add-to-cart {
  height: 3rem;
  font-size: 1.4rem;
  background-color: #fff;
  border: 1px solid #222831;
  border-radius: 100rem;
  padding: 0 2rem;
  margin-top: 1.2rem;
  transition: 0.25s ease;
  cursor: pointer;
}

.add-to-cart:hover {
  color: #fff;
  background-color: #222831;
}
@keyframes bottom-border {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
