.container {
  width: 80%;
  padding: 1rem;
  margin: 15rem auto 0;
  display: flex;
  position: relative;
}

.image {
  width: 40%;
  /* height: 60rem; */
  border-radius: 1.5rem;
  position: sticky;
  top: 8rem;
  aspect-ratio: 2/3;
}

.image img {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  object-fit: cover;
}

.images {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.images img {
  width: 20%;
  border-radius: 0;
  position: relative;
  transition: all 0.2s ease;
  aspect-ratio: 2/3;
}
.images img:hover {
  cursor: pointer;
  opacity: 0.8;
}
.img-active {
  outline: 2px solid #000;
  padding: 3px;
  opacity: 0.7;
}

.content {
  margin-left: 5rem;
  width: 60%;
}

.author {
  margin-bottom: 1rem;
}

.author a {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  color: #999;
  transition: all 0.2s ease-out;
}

.author a:hover {
  color: #d14031;
}

.title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.4rem;
  max-height: 60rem;
  overflow: hidden;
  margin-bottom: 3rem;
  line-height: 1.5;
  color: #555;
}

.paragraph:not(:first-child) {
  margin-top: 0.5rem;
}

.price {
  color: #000;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.content hr {
  margin-bottom: 3rem;
  border: 1px solid #eee;
}

.add-to-cart input {
  height: 100%;
  font-size: 1.7rem;
  width: 5rem;
  text-align: center;
  border: none;
  color: #555;
  font-weight: 300;
  font-family: 'Cormorant Garamond', sans-serif;
  outline: none;
  z-index: 3;
}

.control {
  height: 3rem;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #fff;
  font-size: 1.7rem;
  font-weight: 400;
  transition: color 0.2s ease-out;
}

.btn-quantity-left::before {
  content: '-';
  color: #000;
  font-size: 2.2rem;
  font-weight: 300;
  background-color: #f4f3f3;
  position: absolute;
  left: 2.5rem;
  top: 0.5rem;
}

.btn-quantity-right::before {
  content: '+';
  color: #000;
  font-size: 2.2rem;
  font-weight: 300;
  background-color: #f4f3f3;
  position: absolute;
  right: 2.5rem;
  top: 0.5rem;
}

.btn-buy,
.btn-add {
  width: 20rem;
  height: 4rem;
  padding: 1rem 2rem;
  transition: all 0.25s ease-out;
  font-weight: 500;
  border-radius: 100rem;
  text-transform: capitalize;
  font-size: 1.4rem;
}
.btn-buy {
  color: #fff;
  background-color: #222831;
  margin-right: 1.5rem;
}
.btn-add {
  color: #222831;
  background-color: #fff;
  border: 1px solid #222831;
}

.btn-buy:hover {
  background-color: #393e46;
  color: #fff;
}

.btn-add:hover {
  background-color: #eee;
  color: #000;
}

.quantity {
  border: 1px solid #e1e1e1;
  height: 4rem;
  width: 14rem;
  color: #999;
  padding: 0 2rem;
  margin-right: 2rem;
  user-select: none;
  border-radius: 100rem;
  background-color: #f4f3f3;
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
}

.quantity input {
  background-color: inherit;
  font-size: 1.3rem;
  font-weight: 600;
}

.input {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #eee;
  width: 100%;
}
