.title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  text-transform: capitalize;
}

.cart {
  width: 58%;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 2rem 3rem;
}

/* Empty Cart */
.title-empty {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
}

.empty-img {
  text-align: center;
}
.empty-img img {
  width: 40rem;
  height: 40rem;
}

.btn-group {
  text-align: center;
}

.btn {
  font-size: 1.4rem;
  display: inline-block;
  width: 20rem;
  padding: 1rem;
  border-radius: 10px;
  transition: 0.25s ease;
}

.btn.wishlist {
  border: 1px solid var(--color-darkest);
  color: var(--color-darkest);
  margin-right: 1rem;
}
.btn.wishlist:hover {
  background-color: var(--color-lightgray);
}

.btn.home {
  background-color: var(--color-darkest);
  color: var(--color-white);
  margin-left: 1rem;
}
.btn.home:hover {
  background-color: var(--color-dark);
}
