.description {
  position: absolute;
  top: 50%;
  transform: translateY(-58%);
  left: 0;
}

.description h2 {
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.explain {
  font-size: 1.6rem;
  color: #777;
  margin-bottom: 1.5rem;
}

.back {
  font-size: 1.6rem;
  color: var(--color-white);
  background-color: var(--color-darkest);
  display: block;
  padding: 1rem;
  width: 20rem;
  text-align: center;
  border-radius: 1rem;
}

.notfound-img {
  height: 35rem;
  float: right;
}

.notfound-img img {
  height: 100%;
}
