.profile {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 1.5rem;
  display: flex;
  padding: 5rem;
}
.right-menu {
  background-color: var(--color-white);
  padding: 2px;
  height: 100%;
  width: 25%;
  font-weight: 400;
}
.menu-item {
  padding: 1rem 1.5rem;
  margin: 5px;
  font-size: 1.4rem;
  color: #000;
  transition: 0.25s ease;
  border-radius: 1rem;
  cursor: pointer;
}
.menu-item.active {
  background-color: rgba(238, 238, 238, 0.5);
  font-weight: 500;
}
.menu-item:hover {
  background-color: var(--color-lightgray);
}
.main-section {
  width: 75%;
  padding: 0 4rem;
  border-left: 1px solid var(--color-lightgray);
}

@media screen and (max-width: 75em) {
  .profile {
    padding: 4rem 2rem;
  }

  .profile {
    flex-direction: column;
    align-items: center;
  }

  .right-menu,
  .main-section {
    width: 100%;
    padding: 0;
  }

  .menu-item {
    margin: 0;
    border-bottom: 1px solid var(--color-lightgray);
    border-radius: 0;
  }

  .menu-item:first-child {
    border-radius: 1rem 1rem 0 0;
  }
  .menu-item:last-child {
    border-radius: 0 0 1rem 1rem;
    margin-bottom: 3rem;
  }

  .main-section {
    border-left: initial;
  }
}
