.header {
  font-weight: 500;
  font-size: 3rem;
}

.fallback {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-result-img {
  width: 40rem;
  height: 40rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 37.5em) {
  .header {
    font-size: 2rem;
  }
  .container {
    justify-content: center;
  }

  .no-result-img {
    width: 30rem;
    height: 30rem;
  }
}
