.title {
  font-weight: 500;
  font-size: 3rem;
}

.wishlist {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 37.5em) {
  .title {
    font-size: 2rem;
  }
  .wishlist {
    justify-content: center;
  }
}
