.thumb {
  position: relative;
  margin-left: 2rem;
  height: 8rem;
}

.thumb:hover .feature {
  opacity: 1;
  pointer-events: all;
  top: 8rem;
}

.avatar {
  position: inherit;
  top: 50%;
  transform: translateY(-50%);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
}

.feature {
  list-style-type: none;
  text-align: left;
  width: 20rem;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: all linear 0.1s;
  left: -7.5rem;
  top: 9rem;
  font-size: 1.3rem;
  color: #000;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1.5rem;
}

.feature li:not(:first-child):not(:last-child) {
  color: #840000;
  padding: 1rem 0;
}

.feature li:not(:first-child):not(:last-child) a {
  color: #840000;
  transition: 0.25s ease;
}

.feature li:not(:first-child):not(:last-child) a:hover {
  color: #d14031;
}

.feature li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #000;
}

.name {
  font-weight: 500;
}

.logout {
  width: 100%;
  height: 3.5rem;
  background-color: #222831;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  transition: 0.25s ease;
}

.logout:hover {
  background-color: #393e46;
}
