.profile {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 1.5rem;
  display: flex;
  padding: 5rem;
}
.right-menu {
  background-color: #fff;
  padding: 2px;
  height: 100%;
  width: 25%;
  font-weight: 400;
}
.menu-item {
  padding: 1rem 1.5rem;
  margin: 5px;
  font-size: 1.4rem;
  color: #000;
  transition: 0.25s ease;
  border-radius: 1rem;
  cursor: pointer;
}
.active {
  font-weight: 500;
  background-color: #eee;
}
.menu-item:hover {
  background-color: #eee;
}
.main-section {
  width: 75%;
  padding: 0 4rem;
  border-left: 1px solid #eee;
}
