.auth {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: right;
}

.login,
.signup {
  font-size: 1.2rem;
  width: 10rem;
  height: 4rem;
  text-transform: capitalize;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all linear 0.25s;
  border-radius: 100rem;
  font-family: inherit;
}

.login {
  margin-right: 0.5rem;
  border-radius: none;
}

.signup {
  border: 1px solid #222831;
}

.signup:hover {
  background-color: #222831;
  color: #fff;
}
