.auth {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: right;
}

.login,
.signup,
.logout {
  font-size: 1.2rem;
  width: 7rem;
  height: 5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.login {
  margin-right: 1rem;
  margin-left: 2rem;
  border: 1px solid rgb(0, 0, 0);
}

.signup {
  background-color: #1c1d1f;
  color: #fff;
}

.logout {
  margin-left: 2rem;
  background-color: #1c1d1f;
  color: #fff;
  width: 8rem;
}
