.actions {
  display: flex;
  justify-content: flex-end;
  margin: 3rem auto 0;
}
.form {
  margin-top: 3rem;
}
.containter {
  margin-top: 3rem;
  position: relative;
  min-height: 20rem;
}

.images {
  display: flex;
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 37.5em) {
  div[class*='FormControl'] {
    flex-direction: column;
    align-items: baseline;
  }

  div[class*='FormControl'] input,
  div[class*='FormControl'] textarea {
    width: 100%;
    margin: 0.5rem 0 0;
  }
}
