.container {
  padding: 5rem 4rem;
  background-color: #282828;
  color: #fff;
}

.col-3 {
  width: calc(100% - 4rem);
  margin: 0 2rem;
}

.title-holder {
  margin-bottom: 2rem;
}

.title {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
}

.menu {
  list-style-type: none;
}

.menu-item {
  margin-bottom: 1rem;
  cursor: pointer;
}

.menu-item:last-child {
  margin-bottom: 0;
}

.menu-item a {
  font-size: 1.4rem;
  color: #c4c4c4;
  margin-bottom: 1rem;
  transition: all 0.2s ease-out;
  display: block;
  width: 100%;
  text-transform: capitalize;
}

.menu-item:hover a {
  color: #fff;
}

.content-container {
  color: #c4c4c4;
  font-size: 1.4rem;
}

.content {
  margin-bottom: 2rem;
}

.socials span {
  margin: 0 1rem;
}

.socials span:first-child {
  margin: 0 1rem 0 0;
}

.socials span:last-child {
  margin: 0 0 0 1rem;
}

.socials a {
  color: #c4c4c4;
  cursor: pointer;
}

.socials a:hover {
  color: #fff;
}

/* news */
.subcription-form {
  position: relative;
}
.subcription-form .email,
.subcription-form button {
  background-color: transparent;
  outline: none;
  color: #999;
  font-size: 1.4rem;
}

.subcription-form .email {
  border: 1px solid #999;
  width: 100%;
  padding: 0.8rem 1.6rem;
  color: #ddd;
}

.subcription-form .email:focus-visible {
  border: 1px solid #fff;
}

.subcription-form button {
  border: none;
  position: absolute;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
  transition: all 0.2s ease-out;
  height: 100%;
  padding: 0 1.5rem;
}

.subcription-form button:hover {
  color: #c4c4c4;
}
