.cart {
  width: auto;
  padding: 5px;
  display: block;
  height: 8rem;
  line-height: 8rem;
  float: right;
  margin-left: 2rem;
  position: relative;
  transition: all linear 0.1s;
  color: #840000;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.cart:hover .icon {
  color: #222831;
  transition: all linear 0.1s;
  cursor: pointer;
}
.cart .icon {
  font-size: 2rem;
  color: #393e46;
}

.quantity {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #eee;
  color: #222831;
  top: 2rem;
  left: 0;
  position: absolute;
  text-align: center;
  line-height: 1.5rem;
  font-size: 1rem;
}

.total {
  margin-left: 3px;
  font-size: 2rem;
  color: #1c1d1f;
}
