.thumb {
  position: relative;
  margin-left: 2rem;
  height: 8rem;
}

.thumb:hover .feature {
  opacity: 1;
  pointer-events: all;
  top: 8rem;
}

.avatar {
  position: inherit;
  top: 50%;
  transform: translateY(-50%);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--color-white);
}

.feature {
  list-style-type: none;
  text-align: left;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: all linear 0.1s;
  right: -8rem;
  top: 9rem;
  font-size: 1.4rem;
  color: #000;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.feature .function {
  transition: 0.25s ease;
  cursor: pointer;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.feature .function:hover {
  background-color: var(--color-lightgray);
}

.feature .function .function-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: var(--color-dark);
  padding: 1rem;
}

.function-link .icon {
  margin-right: 1rem;
  color: var(--color-dark);
}

.logout {
  width: 100%;
  height: 3.5rem;
  background-color: var(--color-darkest);
  color: var(--color-white);
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  transition: 0.25s ease;
}

.logout:hover {
  background-color: var(--color-dark);
}

.info {
  min-width: 20rem;
}

.info-section {
  display: flex;
  cursor: pointer;
  padding: 1rem;
  transition: 0.25s ease;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.info-section:hover {
  background-color: var(--color-lightgray);
}

.info-section .photo {
  width: 4rem;
  height: 4rem;
  border-radius: 100rem;
  margin-right: 1rem;
}

.info-section .name {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.info-section .email {
  color: #777;
}
