.btn {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--color-white);
  font-size: 1.7rem;
  font-weight: 400;
  transition: color 0.2s ease-out;
  position: relative;
}

.btn-primary,
.btn-secondary {
  width: 20rem;
  height: 4rem;
  padding: 1rem 2rem;
  transition: all 0.25s ease-out;
  font-weight: 500;
  border-radius: 100rem;
  text-transform: capitalize;
  font-size: 1.4rem;
}
.btn-primary {
  color: var(--color-white);
  background-color: var(--color-darkest);
}
.btn-secondary {
  color: var(--color-darkest);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkest);
  margin-right: 2rem;
}

.btn-primary:hover {
  background-color: var(--color-dark);
  color: var(--color-white);
}

.btn-secondary:hover {
  background-color: var(--color-lightgray);
  color: #000;
}

.btn-secondary:disabled {
  cursor: not-allowed;
}

.btn-primary:disabled {
  background-color: var(--color-dark);
  cursor: not-allowed;
}
