.notication {
  position: fixed;
  top: 10rem;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 40rem;
  min-height: 5rem;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  border-radius: 0.5rem;
  display: flex;
  padding: 1.5rem 3rem 1.5rem 2rem;
  font-size: 1.3rem;
  transition: 0.2s ease;
  backdrop-filter: blur(10px);
  animation-name: show, hide;
  animation-duration: 0.5s, 0.5s;
  animation-delay: 0s, 6s;
  animation-fill-mode: forwards;
}
@keyframes show {
  0% {
    right: -5rem;
    opacity: 0;
  }
  100% {
    right: 3rem;
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    right: 3rem;
    opacity: 1;
  }
  /* 20% {
    right: rem;
  } */
  100% {
    right: -5rem;
    opacity: 0;
  }
}

.icon {
  margin-right: 1rem;
}

.title {
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}
.close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
}

.progress-bar {
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.2s ease;
  animation: progress-bar 6s ease forwards;
}

@keyframes progress-bar {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
