.paging {
  width: fit-content;
  margin: auto;
}

.operator,
.btn-paging {
  border: 1px solid var(--color-darkest);
  font-size: 1.3rem;
  background-color: var(--color-white);
  outline: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.2s ease;
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 0.5rem;
}

.operator:not(:disabled):hover,
.btn-paging:not(.active):hover {
  filter: brightness(0.8);
}

.btn-paging:disabled,
.operator:disabled {
  cursor: default;
}

.btn-paging.active {
  color: var(--color-white);
  background-color: var(--color-darkest);
}

.operator:disabled {
  opacity: 0.4;
}
