.title {
  color: #1c1d1f;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 3rem;
  text-align: center;
}
.container {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(246, 96, 96, 0.1) 0px 4px 12px;
  border-radius: 1rem;
}

.login-card {
  width: 50%;
  display: inline;
  padding: 8rem 10rem;
}

.thumbnail {
  width: 50%;
}

.thumbnail img {
  width: 100%;
  border-radius: 0 1rem 1rem 0;
  height: 100%;
}
.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.form-input {
  width: 100%;
  font-size: 1.4rem;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  border: 1px solid #eee;
  height: 4rem;
  transition: 0.25 ease;
  color: #000;
}

.form-input:focus-visible {
  outline-color: #7971ea;
}

.form-input:not(:placeholder-shown) + .form-label,
.form-input:focus-visible + .form-label {
  top: 0;
  background-color: #fff;
  padding: 0 1rem;
  color: #7971ea;
}

.form-field {
  position: relative;
}
.form-field:not(:first-child) {
  margin-top: 2rem;
}

.form-label {
  font-size: 1.4rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(1rem + 1px);
  transition: 0.25s ease;
  user-select: none;
  pointer-events: none;
  color: rgb(91, 91, 91);
}

.submit {
  cursor: pointer;
  border: none;
  color: #fff;
  font-weight: 600;
  background-color: #7971ea;
  font-size: 1.5rem;
  margin-top: 1.2rem;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 8px;
  position: relative;
  width: 100%;
}

.submit:hover {
  background-position: right center;
}

.submit:disabled {
  background-color: #7971eaae;
  cursor: not-allowed;
}
.forgotten {
  display: block;
  margin-top: 1.2rem;
  float: right;
  font-size: 1.2rem;
  color: #7971ea;
}
.ps {
  display: block;
  margin-top: 1.2rem;
  text-align: center;
  font-size: 1.2rem;
}
.ps a {
  color: #7971ea;
}

.error {
  color: red;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  margin-top: -1.5rem;
}
