.paging {
  width: fit-content;
  margin: auto;
}

.btn-paging {
  border: 1px solid #222831;
  font-size: 1.3rem;
  padding: 1rem;
  background-color: #fff;
  outline: none;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn-paging:disabled {
  background-color: #222831;
  color: #fff;
  cursor: not-allowed;
}
