.toast {
  padding: 1.5rem 3rem 1.5rem 2rem;
  background-color: #f6f6f6;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  border-radius: 0.5rem;
  min-width: 25rem;
  max-width: 30rem;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  position: relative;
  transition: 0.25s ease;
}

.icon {
  margin-right: 1rem;
}

.title {
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}
.close {
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
}
