.search {
  font-size: 1.3rem;
  float: right;
  height: 100%;
  transition: all linear 0.1s;
  position: relative;
}

.search input {
  width: 20rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 4rem;
  padding-left: 4rem;
  margin-right: 1rem;
  font-size: 1.3rem;
  border-radius: 100rem;
  border: 1px solid #eee;
  transition: width 0.25s ease;
}

.search input:focus-visible {
  width: 40rem;
  outline-color: #222831;
}

.search input::placeholder {
  user-select: none;
  pointer-events: none;
}

.search:hover {
  transition: all linear 0.1s;
  color: #d14031;
}

.search-icon {
  color: #bbb;
  position: absolute;
  left: 1.5rem;
  top: 3.2rem;
  font-size: 1.3rem;
  user-select: none;
  pointer-events: none;
}
